::ng-deep .leaflet-popup-content-wrapper,
::ng-deep .leaflet-popup-tip {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}

::ng-deep .leaflet-popup-content {
    margin: 0;
    padding: 0;
    width: auto !important;
}