<div class="max-w-2xl mx-auto py-8 px-4">
  <div class="mb-8">
    <a routerLink="/events" class="text-blue-600 hover:underline text-sm mb-2 inline-block"
      >&larr; Back to Events</a
    >
    <h1 class="text-3xl font-bold text-gray-900">Organize an Event</h1>
  </div>

  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="eventForm"
    class="bg-white p-6 rounded-xl border shadow-sm space-y-6"
  >
    <div class="w-full">
      <label
        class="block text-sm font-medium text-gray-700 mb-1 [.invalid]:text-red-500!"
        [class.invalid]="eventForm.get('title')?.invalid && eventForm.get('title')?.touched"
        for="title"
        >Event Title</label
      >
      <input
        id="title"
        type="text"
        formControlName="title"
        [class.invalid]="eventForm.get('title')?.invalid && eventForm.get('title')?.touched"
        class="block w-full border [.invalid]:border-red-500! [.invalid]:ring-red-500! [.invalid]:text-red-500! border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />

      @if (eventForm.get('title')?.invalid && eventForm.get('title')?.touched) { @if
      (eventForm.get('title')?.errors?.['required']) {
      <span class="text-red-500 text-sm">required</span>
      }@else if (eventForm.get('title')?.errors?.['minlength']) {
      <span class="text-red-500 text-sm">minimal 1 characters</span>
      } @else if (eventForm.get('title')?.errors?.['maxlength']) {
      <span class="text-red-500 text-sm">maximal 100 characters</span>
      } }
    </div>

    <div class="w-full">
      <label
        class="block text-sm font-medium text-gray-700 mb-1 [.invalid]:text-red-500!"
        [class.invalid]="
          eventForm.get('placeDisplayName')?.invalid && eventForm.get('placeDisplayName')?.touched
        "
        for="placeDisplayName"
        >Location</label
      >
      <input
        id="placeDisplayName"
        type="text"
        formControlName="placeDisplayName"
        [class.invalid]="
          eventForm.get('placeDisplayName')?.invalid && eventForm.get('placeDisplayName')?.touched
        "
        class="block w-full border [.invalid]:border-red-500! [.invalid]:ring-red-500! [.invalid]:text-red-500! border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      @if (eventForm.get('placeDisplayName')?.invalid && eventForm.get('placeDisplayName')?.touched)
      { @if (eventForm.get('placeDisplayName')?.errors?.['required']) {
      <span class="text-red-500 text-sm">required</span>
      } }
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="w-full">
        <label
          class="block text-sm font-medium text-gray-700 mb-1 [.invalid]:text-red-500!"
          [class.invalid]="eventForm.get('dateTime')?.invalid && eventForm.get('dateTime')?.touched"
          for="dateTime"
          >Event date and time</label
        >
        <input
          id="dateTime"
          type="datetime-local"
          formControlName="dateTime"
          [class.invalid]="eventForm.get('dateTime')?.invalid && eventForm.get('dateTime')?.touched"
          class="block w-full border [.invalid]:border-red-500! [.invalid]:ring-red-500! [.invalid]:text-red-500! border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        @if (eventForm.get('dateTime')?.invalid && eventForm.get('dateTime')?.touched) { @if
        (eventForm.get('dateTime')?.errors?.['required']) {
        <span class="text-red-500 text-sm">required</span>
        } }
      </div>
      <div class="w-full">
        <label
          class="block text-sm font-medium text-gray-700 mb-1 [.invalid]:text-red-500!"
          [class.invalid]="eventForm.get('endAt')?.invalid && eventForm.get('endAt')?.touched"
          for="endAt"
          >Event end date and time (optional)</label
        >
        <input
          id="endAt"
          type="datetime-local"
          formControlName="endAt"
          [class.invalid]="eventForm.get('endAt')?.invalid && eventForm.get('endAt')?.touched"
          class="block w-full border [.invalid]:border-red-500! [.invalid]:ring-red-500! [.invalid]:text-red-500! border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        @if (eventForm.get('endAt')?.invalid && eventForm.get('endAt')?.touched) { @if
        (eventForm.get('endAt')?.errors?.['required']) {
        <span class="text-red-500 text-sm">required</span>
        } }
      </div>
    </div>

    <div class="flex flex-col">
      <label
        class="text-sm font-medium text-gray-700 mb-1 [.invalid]:text-red-500!"
        [class.invalid]="
          eventForm.get('description')?.invalid && eventForm.get('description')?.touched
        "
        for="description"
        >Description</label
      >
      <textarea
        id="description"
        type="text"
        formControlName="description"
        [class.invalid]="
          eventForm.get('description')?.invalid && eventForm.get('description')?.touched
        "
        class="border [.invalid]:border-red-500! [.invalid]:ring-red-500! [.invalid]:text-red-500! border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
      ></textarea>
      @if (eventForm.get('description')?.invalid && eventForm.get('description')?.touched) { @if
      (eventForm.get('description')?.errors?.['required']) {
      <span class="text-red-500 text-sm">required</span>
      }@else if (eventForm.get('description')?.errors?.['minlength']) {
      <span class="text-red-500 text-sm">minimal 1 characters</span>
      }@else if (eventForm.get('description')?.errors?.['maxlength']) {
      <span class="text-red-500 text-sm">maximal 300 characters</span>
      } }
    </div>

    <button
      type="submit"
      [disabled]="!eventForm.valid || isLoading()"
      class="border-(--accent)! m-0! w-full enabled:hover:text-(--accent)! border-2! enabled:hover:bg-transparent! rounded-lg! px-4! py-2! disabled:opacity-50! disabled:cursor-not-allowed! transition-all! bg-accent! text-white! font-medium!"
    >
      Creaete
    </button>
  </form>
</div>
