<div
  class="flex items-center gap-4 p-4 bg-white rounded-lg shadow hover:shadow-md transition-shadow cursor-pointer border border-transparent hover:border-blue-100"
  (click)="viewEvent()"
>
  <div
    class="flex flex-col items-center justify-center bg-linear-to-br from-blue-500 to-blue-600 text-white rounded-lg px-4 py-3 min-w-20"
  >
    <span class="text-xs font-semibold uppercase tracking-wide">
      {{ eventDate() | date : 'MMM' }}
    </span>
    <span class="text-3xl font-bold leading-none">
      {{ eventDate() | date : 'd' }}
    </span>
  </div>

  <div class="flex-1 min-w-0">
    <h3 class="text-lg font-semibold text-gray-900 mb-1 text-ellipsis overflow-hidden whitespace-nowrap">
      {{ event().title }}
    </h3>
    <div class="flex items-center gap-2 text-sm text-gray-600">
      <span>{{ eventDate() | date : 'HH:mm' }}</span>
      <span>•</span>
      <span>{{ event().placeDisplayName }}</span>
    </div>
  </div>

  <div class="flex items-center gap-3">
    
    <div class="flex items-center gap-2" (click)="$event.stopPropagation()">
      <app-action-button 
        [itemId]="event().id" 
        [authorId]="event().organizer.id" 
        [itemType]="'event'"
        [routePath]="'events'" 
        mode="edit"
      />
    </div>

    <app-like-button
      [type]="'event'"
      [id]="event().id"
      [isLiked]="event().liked"
      [likes]="event().likes"
      (click)="$event.stopPropagation()"
    />
  </div>
</div>