.explore-body {
  height: calc(100vh - 200px);
}

.explore-main {
  display: flex;
  flex-direction: column;
}

.explore-map {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
}
